body {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Tmoney";
    src: url("./fonts/TmoneyRoundWindRegular.ttf");
}

.background022 {
    width: 360px; height: 720px;
    background-color: #FDE7E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginGood022 {
    font-size: 17px;
    font-family: 'Tmoney';
    font-weight: bolder;
    color: #DD9292;
    margin-top: 24px;
}