body {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Tmoney";
    src: url("./fonts/TmoneyRoundWindRegular.ttf");
}

.background09 {
    width: 360px; height: 720px;
    background-color: #FDE7E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.background09::after {
    width: 360px; height: 720px;
    background-color: #FDE7E2;
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}

.logOutModal06 {
    width: 224px; height: 128px;
    background-color: #FFF9F4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    opacity: 1;
}

.logoutQ06 {
    font-size: 17px;
    font-family: 'Tmoney';
    font-weight: bold;
}

.buttonCon06 {
    width: 170px; height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.O06 {
    width: 72px; height: 40px;
    background-color: #DD9292;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle06 {
    width: 20px; height: 20px; 
    background-color: #DD9292;
    border: 4px solid #fff;
    border-radius: 50%;
}

.X06 {
    width: 72px; height: 40px;
    background-color: #E2B7B4;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.X06:after {
    display: inline-block;
    content: "\00d7";
    font-size:36pt; 
    color:#fff; 
    border-radius: 30px;
    }


/* .span06out {
    
    position: relative;
    z-index: 1;
} */