.Y41 {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Tmoney";
    src: url("./fonts/TmoneyRoundWindRegular.ttf");
}

.background41 {
    width: 360px;
    height: 720px;
    background-color: #fde7e2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.modal41 {
    width: 296px;
    height: 288px;
    background-color: #fff9f4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 1px #edc6c4;
    /* padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px; */
}
.owner41 {
    color: #5e452a;
    font-family: 'Tmoney';
    font-size: large;
    font-weight: 600;
    margin-top: 20px;
}
.name41 {
    border: 0;
    height: 35px;
    width: 200px;
    margin-top: 30px;
    background-color: #e5e5e5;
    border-radius: 8px;
}

.btnCon41 {
    width: 204px; height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.next41 {
    width: 55px;
    height: 28px;
    background-color: #dd9292;
    color: #fde7e2;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}
.back41 {
    width: 55px;
    height: 28px;
    background-color: #dd9292;
    color: #fde7e2;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}

.dote41 {
    margin-top: 85px;
    display: flex;
    flex-direction: row;
}
.dote141 {
    width: 10px;
    height: 10px;
    background-color: #dd9292;
    margin-right: 15px;
    border-radius: 5px;
}
.dote241 {
    width: 10px;
    height: 10px;
    background-color: #e2b7b4;
    margin-right: 15px;
    border-radius: 5px;
}
.dote341 {
    width: 10px;
    height: 10px;
    background-color: #e2b7b4;
    border-radius: 5px;
}

span {
    font-family: 'Tmoney';
    
}